.wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    max-width: 320px;
}

p{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2{
    text-align: left;
}